{% comment %} <!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="" method="get">
    <table>
    {{form}}
    </table>
    <input type="submit" value="submit">
    </form>
</body>
</html> {% endcomment %}

{% comment %} 
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="" method="get">
    <table>
    {{form.name}}
    {{form.email}}
    </table>
    <input type="submit" value="submit">
    </form>
</body>
</html> {% endcomment %}




<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="" method="get">
    {{form.as_p}}
    <input type="submit" value="submit">
    </form>
    <br>
    <form action="" method="get">
        {{form.as_ul}}
        <input type="submit" value="submit">
        </form>
        <br>
        <form action="" method="get">
            {{form.name}}
            <input type="submit" value="submit">
            </form>
</body>
</html>
